<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ title.name }} - {{ site.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/images/site.webmanifest">
  </head>

  <body class="bg-base font-display">
  	<nav class="container mx-auto flex flex-col my-16 lg:my-24">
  		<a href="/" class="self-center">
  			<img class="h-12 lg:mr-5 w-auto" src="{{ site.baseurl }}/assets/images/turist.png" alt="Logotyp för sidan Turist">
  		</a>
  	</nav>
