@font-face {
	font-family: "Hyperlegible";
	src: url("/assets/fonts/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
		url("/assets/fonts/WOFF/Atkinson-Hyperlegible-Bold-102a.woff") format("woff");
	font-weight: bold;
}
@font-face {
	font-family: "Hyperlegible";
	src: url("/assets/fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
		url("/assets/fonts/WOFF/Atkinson-Hyperlegible-Regular-102a.woff") format("woff");
	font-weight: normal;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


h1 {
	@apply text-4xl font-display font-bold leading-none my-5;
}
@media (min-width: 640px) {
  h1 {
	@apply text-5xl font-display font-bold leading-none my-5;
  }
}

h1:first-of-type {
	@apply mt-0;
}

h2 {
	@apply text-3xl font-display font-bold leading-none my-5;
}

p + h2 {
	@apply mt-10;
}

h3 {
	@apply text-2xl font-display font-bold leading-none my-5;
}

p + h3 {
	@apply mt-10;
}

p {
	@apply my-5 text-lg leading-relaxed;
}

p strong {
	@apply font-bold font-display;
}

hr {
	@apply my-12 w-20 border-black border-t-4;
}

a:hover h1,
a:active h1 {
}

p:first-of-type {
	@apply mt-0;
}

p a {
	@apply underline;
}

p a:hover,
p a:active,
p a:focus {
	@apply no-underline;
}

ul li h1 {
	@apply text-3xl font-display leading-none my-5;
}

main img + em {
	@apply -mt-8 block mb-8 not-italic opacity-50;
}

main img {
	@apply -mx-5 my-10 max-w-none shadow-xl;
	width: calc(100% + 2.5em);
}

blockquote p {
	@apply font-display leading-snug text-2xl;
}

ul {
	@apply list-outside list-disc font-display text-xl leading-snug ml-6;
}

li {
	@apply my-3 pl-1;
}

@media (min-width: 640px) {
	main img {
		@apply -mx-20 my-20 max-w-none shadow-xl;
		width: calc(100% + 10rem);
	}

	main img + em {
		@apply -mt-12 block font-display leading-tight mb-20 not-italic opacity-50;
	}

	blockquote p {
		@apply font-display leading-snug text-2xl;
	}

	blockquote {
		@apply my-10 mx-0;
	}
}

@media (min-width: 980px) {
	blockquote {
		@apply my-10 -mx-10;
	}
}